/* Write your CSS here */
.planet-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  color: #ffffff;
}

.planets {
  height: 200px;
  width: 300px;
  border-radius: 20px;
}
