/* Write your CSS here */
.app-container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  padding: 20px;
}

.main-heading {
  text-align: center;
  color: #05acff;
}
